@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
ul{
    padding: 0 0;
    width: 100%;
}
a{
    text-decoration: none;
}



body {
    background: #666;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 5rem 1rem 1rem 1rem;
    width: 600px;
    margin: auto auto;
}

.card {
    border-radius: 6px;
    background: #fff;
    padding: 1rem 1rem 2rem 1rem;;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
    text-align: center;
}


.btn {
    color: #42b983;
    border-radius: 99px;
    border: 2px solid #42b983;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
    cursor: pointer;
    margin-right: 1rem;
}
.btn:last-child{
  margin-right: 0rem;

}
.btn:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.6;
}

.list{
    height: 100%;
    /* text-align: left; */
    color: #42b983;
    margin: 5px;
}


.list_title{
  text-align: center;
  height: 100%;
  color: #42b983;
  margin: 5px;
}


.label{
    width: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 5px;
    &:hover {
        opacity: 0.6;
    }

}

.size{
    width: 90px;
    background-color: white;
    border: thin solid #42b983;
    border-radius: 10px;
    display: inline-block;
    font: inherit;
    line-height: 1.3em;
    padding: 0.5em;
    color: #42b983;
    box-shadow: 0 0.4rem #dfd9d9;
    margin: 5px
   
}
select {

    /* styling */
    background-color: white;
    border: thin solid #42b983;
    border-radius: 10px;
    display: inline-block;
    font: inherit;
    line-height: 1.3em;
    padding: 0.5em 3.5em 0.5em 0.5em;
    color: #42b983;
    box-shadow: 0 0.4rem #dfd9d9;
  
    /* reset */
  
    margin: 5px;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
.type {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      radial-gradient(#ddd 70%, transparent 72%);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      2.4em 1.5em;
    background-repeat: no-repeat;
  }
  
  .type:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      radial-gradient(gray 70%, transparent 72%);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      2.4em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
.item{
    display: flex;
    justify-content: space-between;
}
.select_grup{
  display: flex;
}
.autoDetect{
  margin: 10px;
}